<?xml version="1.0"?>

<model>
  <name>No name</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Lorenzo Binosi</name>
    <email>lorenzo.binosi@mail.polimi.it</email>
  </author>

  <description>
    Robot for the project of Robotics, M.Sc. course of Computer Science and Engineering of Politecnico di Milano.
  </description>
</model>
